<!DOCTYPE html>
<html>
    <head>
        <title>Hygiene Harmony</title>
        <meta content="Hygiene Harmony" property="og:title" />
        <meta content="Joining hands for a better future." property="og:description" />
        <meta content="https://hygieneharmony.co.uk" property="og:url" />
        <meta content="https://hygieneharmony.co.uk/images/wide.png" property="og:image" />
        <meta content="#FFFFFF" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary_large_image">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        
        <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />


        <style>
            h1 {text-align: center;}
            html {
                background: url(images/wide.png) no-repeat center center fixed;
                background-size: cover;
            }

            html, body {
                height: 100vh;
                height: calc(var(--vh, 1vh) * 100);
            }

            #page-wrap {
                border-radius: 10px;
                width: 500px;
                margin: 19px auto;
                padding: 20px;
                background: wheat;
                box-shadow: 0 0 20px black;
            }

            @media (max-width: 600px) {
                #page-wrap {
                    width: 90%;
                }
            }
        </style>
    </head>
    <body>
        <div id="page-wrap">
            <h1>Hygiene Harmony</h1>
            <p>The importance of hygiene cannot be overstated. Good hygiene practices are essential for maintaining good health and preventing the spread of diseases. Hygiene habits like washing hands, brushing teeth, and taking regular baths or showers are simple yet effective ways of staying healthy. However, for those living in poverty, access to these basic hygiene facilities and products is limited or non-existent. As a result, many suffer from preventable illnesses and infections that could have been avoided with proper hygiene.</p>
            <p>At Hygiene Harmony, we believe that everyone deserves access to basic hygiene facilities and products. We are committed to raising awareness about hygiene poverty and advocating for solutions to address this issue. We work with communities, policymakers, and other stakeholders to promote hygiene and increase access to basic hygiene facilities and products. Our goal is to ensure that everyone can practice good hygiene habits and lead healthy lives.</p>
            <p>Hygiene poverty is a multifaceted problem that requires a multifaceted solution. At Hygiene Harmony, we recognize that there is no one-size-fits-all approach to addressing this issue. That is why we work with communities to understand their unique needs and tailor our solutions to meet those needs. Whether it is by providing hygiene products, building sanitation facilities, or educating people about good hygiene practices, we are committed to finding sustainable solutions that work for everyone.</p>
            <p>Thank you for visiting the Hygiene Harmony website and learning about our mission to promote hygiene and raise awareness about hygiene poverty. We invite you to join us in our efforts to ensure that everyone has access to basic hygiene facilities and products. Together, we can make a difference and create a world where good hygiene practices are a reality for all. Please explore our website to learn more about our work and how you can get involved. Let's work together to make hygiene harmony a reality for everyone.</p>
            <p>If you would like to learn more about Hygiene Harmony and our work promoting hygiene and raising awareness about hygiene poverty, please do not hesitate to contact us at the email below We are always happy to answer any questions you may have or provide additional information about our organization and our efforts to make hygiene a basic human right for all. We look forward to hearing from you and working together to create a world where hygiene poverty is a thing of the past.</p>
        </div>
        <div id="page-wrap">
            <div style="margin: 0 auto; text-align: center">
                <a href="mailto:info@hygieneharmony.co.uk">info@hygieneharmony.co.uk</a>
            </div>
        </div> 
        <script>
            const resizeOps = () => {
                document.documentElement.style.setProperty("--vh", window.innerHeight * 0.01 + "px");
            };

            resizeOps();
            window.addEventListener("resize", resizeOps);
        </script>
        <!-- <h1>activate the bindi machine</h1>
        <div class="navbar">
            <a href="mailto:contact@hygieneharmony.co.uk">contact@hygieneharmony.co.uk</a>
        </div> -->
    </body>
</html>